 .u-section-1 {
  background-image: url("images/pexels-photo-164005.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 738px;
}

.u-section-1 .u-text-1 {
  margin: 35px auto 0 35px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
  margin-right: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 636px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 169px;
  width: 365px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 0 10px;
}

.u-section-1 .u-text-3 {
  margin: 20px 10px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 15px 13px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 636px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 170px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin: 0 10px;
}

.u-section-1 .u-text-5 {
  margin: 20px 10px 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 59px 13px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 636px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 170px;
  margin: 0 -1px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 0 10px;
}

.u-section-1 .u-text-7 {
  margin: 20px 10px 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 36px 14px 0 auto;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 646px;
  }

  .u-section-1 .u-image-1 {
    height: 139px;
    width: 300px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-1 .u-image-2 {
    height: 140px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 524px;
  }

  .u-section-1 .u-image-3 {
    height: 140px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 105px;
    width: 227px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    height: 107px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 744px;
  }

  .u-section-1 .u-image-3 {
    height: 107px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1138px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-1 .u-image-1 {
    height: 241px;
    width: 538px;
    margin-right: -2px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 570px;
  }

  .u-section-1 .u-image-2 {
    height: 241px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 41px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 590px;
  }

  .u-section-1 .u-image-3 {
    height: 241px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-1 .u-image-1 {
    height: 152px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 469px;
  }

  .u-section-1 .u-image-2 {
    height: 152px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 501px;
  }

  .u-section-1 .u-image-3 {
    height: 152px;
    margin-right: initial;
    margin-left: initial;
  }
}