body{
    color: #36454f;
}

#hatternavbar{
    text-align: center;
    background-color: #36454f;
}

a{
    padding-top: 13px;
    color: white;
    text-decoration: none;
    font-size: 16pt;
}

a:hover{
    color: gray;
}

h1{
    text-align: center;
    font-size: 48pt;
}

input[type="text"], textarea{
    font-size:14pt;
    background-color: rgb(230, 230, 255);
    border: none;
    border-radius: 15px;
}

h2{
    font-size: 20pt;
}

#tartalom{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hir-cim{
    width: 100%;
    height: 30px;
    margin-bottom: 25px;
}

#hir-szoveg{
    width: 100%;
    background-image: url("robot.png");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
}

button{
    height: 50px;
    max-width: 150px;
    width: 100%;
    font-size: 16pt;
    border: none;
    background-color: #36454f;
    color:white;
    border-radius: 10px;
}

#ok-gomb{
    margin-top: 25px;
}

#kilepes-tarolo{
    padding-top: 50px;
    padding-bottom: 25px;
    text-align: center;
}